@model BooksOfMyLife.Models.BookModel

@{
    ViewBag.Title = "BookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kirjan tiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @(Model.Author.FirstName + " " + Model.Author.LastName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        @foreach (var genre in Model.Genres)
        {
            <dd>
                @Html.DisplayName(genre.Name)                
            </dd>
        }        

        <dt>
            @Html.DisplayNameFor(model => model.PublishingYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishingYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "EditBook", new { id = Model.Id }) |
    @Html.ActionLink("Takaisin listaukseen", "ListAllBooks")
</p>
